<div
  class="h-full border border-gray-300 rounded-xl p-5 shadow-sm hover:shadow-md flex flex-col gap-2 transition-all duration-300 relative"
  [class.hover:border-amber-100]="wsStatus() === 'live'"
  [class.hover:border-red-100]="wsStatus() === 'off'"
  [class.cursor-pointer]="isCardClickable()"
  [class.shadow-lg!]="isActive()"
  [class.border-amber-200!]="isActive()"
  [class.border-2!]="isActive()"
>
  <div
    class="absolute top-0 right-0 w-24 h-24 bg-linear-to-br from-amber-300/30 to-transparent rounded-bl-full"
    [class.from-amber-300/30]="wsStatus() === 'live'"
    [class.from-red-300/30]="wsStatus() === 'off'"
  ></div>
  <div class="flex justify-start items-center gap-4">
    <app-info-card-icon [wsSatus]="wsStatus()">
      {{ icon() }}
    </app-info-card-icon>

    <span class="text-gray-500 font-medium">
      {{ title() | uppercase }}
    </span>
  </div>

  @if (hasValue()) {
    <div class="flex flex-col">
      <span class="font-bold text-2xl">
        {{ value() }}
      </span>
      @if (!isLocalisation() && differenceValueFromLast()) {
        <div>
          <span
            class="text-green-500 text-sm mr-1.5"
            [class.text-green-500]="differenceValueFromLast()?.color === 'green'"
            [class.text-red-500]="differenceValueFromLast()?.color === 'red'"
            >{{ differenceValueFromLast()!.text }}</span
          >
          <span class="text-gray-400 text-sm"> From last value</span>
        </div>
      }
    </div>
  } @else {
    <app-skeleton [wsStatus]="wsStatus()" className="mt-2 h-5 w-48"></app-skeleton>
  }

  <div class="mt-2">
    @if (shouldShowChart()) {
      <apx-chart
        [series]="chartOptions().series!"
        [chart]="chartOptions().chart!"
        [stroke]="chartOptions().stroke!"
        [fill]="chartOptions().fill!"
        [colors]="chartOptions().colors!"
        [tooltip]="chartOptions().tooltip!"
      ></apx-chart>
    }

    @if (shouldShowChartLoader()) {
      <app-skeleton [wsStatus]="wsStatus()" className="h-10 w-full"></app-skeleton>
    }

    @if (shouldShowSubValue()) {
      <span class="text-gray-500 font-medium">
        {{ data()?.subValue | uppercase }}
      </span>
    }

    @if (shouldShowSubValueLoader()) {
      <app-skeleton [wsStatus]="wsStatus()" className="h-10 w-full"></app-skeleton>
    }
  </div>
</div>
