<div class="min-h-screen h-full flex flex-col gap-1">
  <!-- HEADER -->
  <div class="px-5 pt-4">
    <app-header [data]="{ status: websocketStatus() }" />

    <!-- CARDS -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-5">
      <!-- MAP CARD -->
      <app-info-card
        (click)="togglePanel('map')"
        [isActive]="isPanelOpen('map')()"
        [wsStatus]="websocketStatus()"
        [data]="{
          type: InfoCardTypeEnum.localisation,
          value: localisationData()?.city ?? '',
          subValue: localisationData()?.principalSubdivision,
        }"
      />

      <!-- SENSOR CARDS -->
      @for (panel of PANELS; track panel.key) {
        @if (panel.key !== 'map') {
          <app-info-card
            (click)="togglePanel(panel.key)"
            [isActive]="isPanelOpen(panel.key)()"
            [wsStatus]="websocketStatus()"
            [data]="getCardData(panel.key)"
          />
        }
      }
    </div>
  </div>

  <!-- DETAIL ZONE -->
  <div class="px-5 mt-4 lg:m-0 flex-1 flex items-center justify-center min-h-90">
    <!-- MAP -->
    @if (isPanelOpen('map')()) {
      <div class="w-full h-full lg:w-[80%] lg:h-[80%] rounded-2xl overflow-hidden shadow-xl">
        <app-map [data]="localisationHistoryData()" />
      </div>
    }

    <!-- CHARTS GENERIC -->
    @for (panel of PANELS; track panel.key) {
      @if (panel.key !== 'map' && isPanelOpen(panel.key)()) {
        <div class="w-[95%]">
          <app-detailed-chart
            [values]="getCardData(panel.key)?.chartData ?? []"
            [title]="getCardData(panel.key)?.type"
          />
        </div>
      }
    }
  </div>
</div>
